<md-card>
<md-toolbar class="md-accent">
  <div class="md-toolbar-tools"><span>Návštěvy</span>
  </div>
</md-toolbar>
<md-content layout="column" layout-padding>
  <md-table-container  md-progress="vm.visits.resolved">
      <table md-table  ng-model="selected" md-progress="promise">
        <thead md-head md-order="vm.query.order" md-on-reorder="onReorder">
        <tr md-row>
          <th width="35" md-column md-numeric>ID #</th>
          <th md-column>Termín</th>
          <th md-column>Prodejna</th>
          <th md-column>Adresa</th>
          <th md-column md-numeric width="130"></th>

        </tr>
        </thead>
        <tbody md-body>
        <tr md-row  ng-repeat="visit in vm.visits.data | orderBy: vm.query.order" class="animated fadeIn">
          <td md-cell>{{visit.id}}</td>
          <td md-cell>{{visit.date | date: 'dd.MM.yyyy'}}</td>
          <td md-cell>{{visit.companyName}}</td>
          <td md-cell>{{visit.branchName}}</td>
          <td md-cell>
            <!--<md-button class="md-icon-button md-primary" ui-sref=""><i class="mdi">info</i></md-button>-->
            <md-button class="md-icon-button md-primary" ui-sref="visit({id:visit.id})"><i class="mdi">edit</i></md-button>
          </td>
        </tr>
        </tbody>
      </table>
      <md-table-pagination ng-show="vm.query.page > 1" md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.visits.data.count}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>

    </md-table-container>
</md-content>
  </md-card>
