<div layout-row ng-controller="MainController as vm">
  <md-toolbar class="menubar animated fadeInDown" layout="row" layout-align="center center">

    <md-button href ui-sref="home"><h1 class="md-body-2 bold">Mystery Shopping</h1></md-button>

    <section flex layout="row" layout-align="left center">
      <md-button ui-sref="home" class="md-icon-button"><i class="mdi">home</i></md-button>
      <!--<md-button href="#" class="md-icon-button"><i class="mdi ">view_list</i></md-button>-->
    </section>
    <md-menu>
      <md-button aria-label="Menu" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
        <i class="mdi">account_circle</i>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="dataSource.logout()">
            <i class="mdi" md-menu-align-target>input</i> Logout
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </md-toolbar>
  <div id="main" ui-view></div>
</div>
