<div layout-margin flex-xs flex-gt-xs="500" layout="column" class="animated fadeIn">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Detail návštěvy ID #{{vm.id}}  </span>
        <span class="md-subhead">{{vm.visit.data.date | date: 'dd.MM.yyyy' }}</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content layout="column" layout-align="start">
      <md-input-container>
        <label>Adresa</label>
        <input ng-model="vm.visit.data.branch.name" disabled>
      </md-input-container>
      <md-input-container>
        <label>Prodejna</label>
        <input ng-model="vm.visit.data.branch.company.name" disabled>
      </md-input-container>
    </md-card-content>


    <md-card-actions layout="row" layout-align="end end">
      <md-button>Ok</md-button>
      <md-button>Cancel</md-button>
    </md-card-actions>
  </md-card>

</div>
